Financial-Report-Automation/QUATERLY_RESULT (1).json
{
  "name": "QUATERLY RESULT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bQfBFcrmBIHFeFI7uYH6Usin7XiUUNpI",
          "mode": "list",
          "cachedResultName": "QUATERLY RESULT UPLOAD ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bQfBFcrmBIHFeFI7uYH6Usin7XiUUNpI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -280
      ],
      "id": "39f7b708-1359-44a3-afec-ff7723d90881",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bdd60AjYiiUX0kcp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        -280
      ],
      "id": "e88f3d9d-3c7f-4168-9d79-cdfb3f44d898",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bdd60AjYiiUX0kcp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=quaterly result",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1P3dfiHvPXfpvzknF61rEAe73wN15Hn95",
          "mode": "list",
          "cachedResultName": "QUATERLY RESULT FORM",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1P3dfiHvPXfpvzknF61rEAe73wN15Hn95"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1156,
        -280
      ],
      "id": "75623836-70fe-4531-808f-cc6c7ac875f4",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bdd60AjYiiUX0kcp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        -60
      ],
      "id": "2af596f3-389d-4a10-86f3-6c7dc6a34423",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ib8Ft9psjqUl66pM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output.text",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        936,
        -280
      ],
      "id": "caae1b31-3ff2-4e35-a458-f636c3f303c1",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        560,
        -57.5
      ],
      "id": "8a703e5c-7e66-4c27-87b3-0d9f3402cd01",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        648,
        140
      ],
      "id": "19b77013-11ba-4a8b-9cf5-2a37132c829a",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "operationMode": "documentLoader",
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "Write a concise summary  keeping all important numerical and financial data of the following:\n\n\"{text}\"\n\nCONCISE SUMMARY:",
              "prompt": "Generate a structured and concise summary from the following data inputs in the specified tabular format:\n\n**Input Format:**\n\"{text}\"\n\n**Output Format:**\n\n\n* **Rating** can be: `Inline`, `Mixed`, `Above`, or `Below`\n* **Segment** can include: `Inline`, `Positive`, `Outlook`, `Mixed`, `Neutral`, or `Below`\n* **Description** must be a single-line, numerically backed statement categorized under one of the following standardized sub-headings:\n\n  * **Growth**\n  * **EBITDA%**\n  * **Outlook**\n  * **Asset Quality**\n  * **Residential**\n  * **DCCDL**\n  * **Deals/Outlook**\n\n**Output Format:**\n\n**COMPANY RATING SUMMARY:**\n\n* **Company Name** *(as Header)*\n\n  - **Rating:** Inline / Mixed / Above / Below\n  - **Segment:** Inline / Positive / Outlook / etc.\n\n  - **Key Highlights:**\n\n    • **Growth:** -\\[e.g., +6% QoQ led by large MMA shipment rollover]\n    • **EBITDA%:** -\\[e.g., +110bps QoQ aided by margin expansion]\n    • **Description:**\n    • **Outlook:** -\\[e.g., FY26 guidance withheld citing limited visibility]\n    • *(Include only relevant applicable headers from the input)*\n\n**Output Example:**\n\n* **Company Name** *(Axis Bank)*\n\n  - **Rating:** - Mixed\n  - **Segment:**  - Neutral\n\n  - **Key Highlights:**\n\n    • **Growth:** - NII (+6%) .. NIMs unchanged (at 3.9%) | Advances (+8%) | Deposits (+10%) | PPOP (+2%) due to higher provisions (+15%)\n   \n* **Company Name** *(Axis Bank)*\n\n  - **Rating:** - Mixed\n  - **Segment:**  - Neutral\n\n  - **Key Highlights:**\n\n    • **Outlook:** - Retail AQ (normalisation in progress - MF is ~2% of retail loans / PL and CC undergone policy recalibration)\n\n\n* **Company Name** *(DLF)*\n\n  - **Rating:** - Mixed\n  - **Segment:**  - Positive\n\n  - **Key Highlights:**\n\n    • **Residential:** - Pre-sales (+39% yoy at 2030Cr ... no launches in the qtr) taking FY25 pre-sales to 21200Cr (above 17000Cr guidance) .. with 61% GM% (vs 40% in 2024) | Collections (+36% yoy at 11770Cr).\n\n* **Company Name** *(DLF)*\n\n  - **Rating:** - Mixed\n  - **Segment:**  - Neutral\n\n  - **Key Highlights:**\n\n    • **DCCDL:** - .+7% yoy rev led by rentals (+9% yoy at 1220Cr) - commissioned new block in DLF Downtown Gurgaon | Occupancy at 94%\n   \n    "
            }
          },
          "batching": {
            "batchSize": 20,
            "delayBetweenBatches": 2000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        456,
        -280
      ],
      "id": "002f4774-9651-4e64-b601-648815ceca6b",
      "name": "Summarization Chain1"
    },
    {
      "parameters": {
        "content": "## GPT-4.1 mini \n\ninput - 0.40\ncached input - 0.10\noutput - 1.60\n\n=> 1M tokens ",
        "height": 200,
        "width": 200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -100
      ],
      "typeVersion": 1,
      "id": "89453d12-1f89-4ba4-8647-1b1be88a5190",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## GPT-4.1 nano \n\ninput - 0.10\ncached input - 0.025\noutput - 0.4\n\n=> 1M tokens ",
        "height": 200,
        "width": 200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        60
      ],
      "typeVersion": 1,
      "id": "5825d572-e759-40e0-9dbc-9a09ce3b4341",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Summarization Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Summarization Chain1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37ec1860-af33-45b0-bb14-18d6fddd7e84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2649a266de357a54636754607538f51307f3d42b280f0e6c9f18349930ab68b0"
  },
  "id": "Ms4jNsoN3vIf4CGf",
  "tags": []
}