RAG-CHAT-BOT/Single_company_folder___VECTOR_DATABASE__.json
{
  "name": "Single company folder [ VECTOR DATABASE ]",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11a2DDwQt_a5veOxCsIUzddDvsL6yAoDf",
          "mode": "list",
          "cachedResultName": "SINGLE COMPANY FOLDER ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11a2DDwQt_a5veOxCsIUzddDvsL6yAoDf"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ff7ee83b-83f7-4797-a58b-ad398249eef0",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bdd60AjYiiUX0kcp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "166933a2-13fa-455b-ae14-6032883971a3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bdd60AjYiiUX0kcp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        480,
        -20
      ],
      "id": "cf4043e6-dc92-4d14-b578-39a216ad8092",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MVi3qPTwiAeQjByQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        380
      ],
      "id": "30c59494-a972-4f1c-801f-c9623ab89b28",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ib8Ft9psjqUl66pM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        560,
        200
      ],
      "id": "4f5291e1-357f-4cfe-ab47-c29f2aa9f78c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1200,
        "chunkOverlap": 300
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        360
      ],
      "id": "63b708ce-434c-42b8-8e7b-2003d88ebf60",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "content": "",
        "height": 580,
        "width": 460,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        -60
      ],
      "typeVersion": 1,
      "id": "2d59b07d-6a1c-4a56-80c3-3e4987e7fb18",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0edefe12-0798-4a5f-b222-a91dce1eeea9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2649a266de357a54636754607538f51307f3d42b280f0e6c9f18349930ab68b0"
  },
  "id": "CXDXnKQIfKvI0BAm",
  "tags": []
}